<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FDND Programma</title>
    <link rel="stylesheet" href="/style.css" />
    <script deter src="script.js"></script>
</head>

<body>
    <main>