@font-face {
	font-family: "Rajdhani";
	src: url("../assets/fonts/Rajdhani-SemiBold.ttf") format("ttf"),
		url("../assets/fonts/Rajdhani-SemiBold.woff") format("woff");
}

* {
	box-sizing: border-box;
	margin: 0;
    padding: 0;
	font-family: Rajdhani, sans-serif;
	scroll-behavior: smooth;
}

:root {
    --purple: #524dd0;
    --gradient: linear-gradient(90deg, #524dd0, #84389e);
    --b-white: #f6f6fc;
    --white: white;
    --gray: #737373;    
    --reserved-bg: linear-gradient(90deg, #524dd0, #84389e); 
    --reserved-c: white;
}

main {
    display: flex;
}

.summary{
    flex: 0 1 25%;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--b-white);
}

.summary header {
    height: 4em;
    background-color: var(--b-white);
    z-index: 1;
}

.summary header img {
    width: 3em;
    height: auto;
    margin: .5em;

}

.summary h2 {
    color: var(--gray);
    font-size: medium;
}

.summary .smartzones     li {
    display: flex;
    list-style-type: none;
    border-radius: .5em;
    box-shadow: 2px 5px 2px #8d8d8d;
    background-color: var(--white);
    margin: 1em;
    overflow: hidden;
    
}

.container-img {
    width: 4em;
    height: 10em;
    background-color: aquamarine;
    padding: 0;
}

.container-li {
    padding: .5em;
}

.summary img {
    width: 4em;
    height: 10em;
    object-fit: cover;
}

.summary li button {
    border-radius: 1em;
    padding: .25em .5em;
    color: var(--purple);
    border: solid 2px var(--purple);
    background-color: var(--white);
}

.summary li .book-now {
    color: var(--reserved-c);
    background: var(--reserved-bg);
    border: solid 2px var(--reserved-bg);
}

nav {
    background-color: var(--b-white);
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.summary nav li {
    box-shadow: none;
    display: flex;
    flex-direction: column;
}

.detail {
    display: none;
}

.map {
    flex: 1 0 70%;
}